/* Global Text */

p{
    color: white;
    font-family: Cabin;
    padding-top: 20px;
    font-size: 18px;
}

h1{
    color: #FF8080;
    font-family: Zen Antique Soft;
    
}


h2{
    font-family: Zen Antique Soft;
    color: white;
}

/* Navbar */

.nav-link.mobile.selected, .nav-link.selected{
    border-bottom: 4px solid #DB6161!important;
}

.navbar{
    border-bottom: 8px solid #DB6161;
}

.nav-item{
    color: white;
    font-family: Cabin;
    font-size: 24px;
}

.navbar-brand {
    color: #FF8080;
    font-family: Zen Antique Soft;
    font-size: 24px;
    letter-spacing: 5px;
}

.navbar .nav-item .nav-link{
    color: white;
    border-bottom: 4px solid transparent;
}

.navbar .nav-item .nav-link:hover{
    border-bottom: 4px solid #934C4C;
    transition: ease-out 0.2s;
}

.navbar .nav-item .nav-link:active{
    border-bottom: 4px solid #FF8080;
    transition: ease-out 0.2s;
}

.navbar-brand.nav-fill:hover{
    color: #FF8080;
}

.navbar-nav .nav-item .nav-link.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: auto;
}

#mobile_home{
    padding-left: 30px;
}

#mobile_exit{
    float: right;
    padding: 50px;
}

.navbar-toggler{
    z-index: 999;
}

#collapsibleNavbar{
    background-color: #6E3B3D;
    width: vw;
    height: vh;
    inset: 0;
    z-index: 998;
    position: fixed;
}

.navbar-nav{
    display: inline;
    margin: auto;
    padding: auto;
}

.navbar-nav li{
    text-align: center;
    display: inline;
}

/* Carousel */


.btn.btn-block.link{
    background-color: #FF8080;
    color: white;
    padding: 14px 0;
}

.col.caro-info, .col-caro-info {
    padding: 20px;
}

.img-fluid{
    padding: 20px;
}


.caro-img-group img{
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    max-height: 400px;
}

.caro-img-group{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
}

.carousel{
    padding: 100px;    
    justify-content: center;
}

.carousel-inner .carousel-item a img{
    margin: auto;
    display: block;
}

.col-8 img{
    padding: 20px;
    width: 100%;
}

.row{
    width: 100%;
    margin: 0;
    padding: 50px;
}

.what-we-do{
    padding-left: 60px;
}


/* Main */

@media (max-width: 767.98px) { 
    .col{
        margin-top: 30px;
        padding-left: 0;
    }

    .col-sm{
        text-align: center;
    }
    
    .btn.btn-lg{
        margin: auto;
        padding: auto;
        display: block;
        margin-bottom: 60px;
        width: 100%;
    }

    .txt.img_text{
        margin-bottom: 40px;
    }

    main{
        padding: 10px!important;
    }
}

@media (min-width: 767.98px) { 

    .row.contact{
        height: 70vh;
    }

    
}

@media (max-width: 575.98px) { 
    p{
        padding: 0;
    }

}

@media (max-width: 991.98px) {
    .txt.img_text{
        padding-right: 0px!important;
    }
   
}

.form{
    padding: 40px 10px;
}

.title{
    z-index: 1;
    position: absolute;
    padding-left: 60px;
    padding-top: 20px;
}


rect{
    position: absolute;
    left: 0;
    top: 0;
}

.title-shape-left{
    position: relative;
    margin-left: -65px;
    
}

.title-shape-right{
    position: relative;
    margin-right: -65px;
}

.background {
    background:url(Images/joshua-bartell-6vvIBTvL90A-unsplash.jpg);
}

.layer {
    background: #3E3535;
    background: linear-gradient(180deg, rgba(62, 53, 53, 1) 0%, rgba(141, 24, 24, 0.39) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
}



/* Cabinet/Window Pages */

.col-md-12.col-lg-7.no-gutters.full_img{
    padding: 0;
}

.row.img_text{
    padding: 0;
}

.col-lg-5.img_txt{
    padding: 50px 0px;
    padding-left: 100px;
    padding-right: 50px;
}

.title-shape-left.img_txt{
    margin-left: -100px;

}

.title-shape-left.img_txt .title{
    padding-left: 100px;

}

.col.img_txt{
    padding: 0px 50px;
}

.txt.img_text{
    padding-right: 150px;
}

/* Contact */

.contact.text-white{
    margin-top: 30px;
    font-size: 22px;
}

.col-md-5 .img-fluid{
    padding: 0;
}



/* Buttons */

.btn.btn-lg{
    margin-top: 75px;
    width: 50%;
}

.btn{
    border-radius: 0;
}

.btn:hover{
    background-color: #DB6161!important;
}

.btn:active{
    background-color: #ab6868!important;
}

/* LARGE Gallery */
.col-.gal{
    max-width: 1000px;
    min-height: 400px;
    margin: auto;
    display: flex;
}

.nav.flex-column.nav-pills, .tab-content{
    display: block;
}

.col-.gal p{
    padding: 20px;
    max-width: 190px;
}

.nav-link.active.show{
    background-color: #6E3B3D;
    border-radius: 0;
}

.nav-link.active{
    background-color: #6E3B3D!important;
    border-radius: 0;
    border-bottom: 10px solid #FF8080;
}

.nav.flex-column.nav-pills{
    background-color: #B15B5B;
}

.tab-content{
    background: #333232;
    overflow: auto;
    max-height: 700px;
}

.tab-content img{
    padding: 20px;
    max-width: 100%;
}

.nav-link.gal {
    font-family: Cabin;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

.nav-link.gal:hover{
    color: white;
    border-radius: 0px;
    border-bottom: 10px solid #934C4C;
    transition: ease-out 0.2s;
}

.nav-link.gal:active{
    border-bottom: 10px solid #FF8080;
    transition: ease-out 0.2s;
}

.nav-link.bright{
    background-color: #DB6161;
}

/* SMALL Gallery */
.card{
    background-color: #6E3B3D;
    border-radius: 0;
}

.card.bright{
    background-color: #DB6161;
}

.btn.btn-link{
    font-size: 40px;
    width: 100%;
}

.btn.btn-link:hover{
    background-color: rgba(255, 255, 255, 0)!important;
    border-bottom: 5px solid white;
    text-decoration: none;
}

.card-body{
    background: #333232;
}

.card-body .img-fluid{
    padding: 10px;
    margin: auto;
    display: block;
}

.btn.btn-link{
    color: white;
}

hr{
    border: 2px solid #4B4444;
    width: 90%;
}

/* BEFORE AFTER SLIDER */

main {
    display: grid;
    place-items: center;
    margin: 40px auto;
    padding: 50px;
    background-color: #333232;
}

main h2{
    border-bottom: 4px solid #333232;
    padding-bottom: 10px;
}

.tab-content .subtitle{
    max-width: 1000px!important;
}

.slider-container {
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    --position: 50%;
    border: 15px solid #333232;
}

.slider-container img{
    padding: 0;
}

.image-container {
    max-width: 800px;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.image-before {
    position: absolute;
    inset: 0;
    width: var(--position);
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.slider:focus-visible ~ .slider-button {
    outline: 5px solid black;
    outline-offset: 3px;
}

.slider-line {
    position: absolute;
    inset: 0;
    width: 5px;
    height: 100%;
    background-color: #4B4444;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
}

.slider-button {
    position: absolute;
    background-color: #333232;
    color: white;
    padding: .5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    top: 50%;
    left: var(--position);
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-shadow: 0px 0px 1px 3px #4b444472;
}

/* Footer */

.pt-4{
    border-top: 8px solid #9b9b9b;
    padding: 20px 40px;

}

.row.align-items-center{
    width: 50%;
}



